<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youedata.nncloud.modular.nanning.dao.AttachmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.youedata.nncloud.modular.nanning.model.Attachment">
        <id column="attachment_id" property="attachmentId" />
        <result column="attachment_question_id" property="attachmentQuestionId" />
        <result column="attachment_name" property="attachmentName" />
        <result column="attachment_url" property="attachmentUrl" />
        <result column="attachment_create_by" property="attachmentCreateBy" />
        <result column="attachment_update_by" property="attachmentUpdateBy" />
        <result column="attachment_update_time" property="attachmentUpdateTime" />
        <result column="attachment_create_time" property="attachmentCreateTime" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        attachment_id AS attachmentId, attachment_question_id AS attachmentQuestionId, attachment_name AS attachmentName,
        attachment_url AS attachmentUrl, attachment_create_by AS attachmentCreateBy, attachment_update_by AS attachmentUpdateBy,
        attachment_update_time AS attachmentUpdateTime, attachment_create_time AS attachmentCreateTime
    </sql>

    <!--根据问题id查询附件-->
    <select id="getByQuestionId" resultType="com.youedata.nncloud.modular.nanning.model.Attachment" parameterType="Integer">
        select
        attachment_name AS attachmentName, attachment_url AS attachmentUrl, attachment_create_time AS attachmentCreateTime
        from attachment where attachment_question_id = #{questionId}
    </select>
</mapper>
