<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youedata.nncloud.modular.nanning.dao.ColletMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.youedata.nncloud.modular.nanning.model.Collet">
        <id column="collet_id" property="colletId" />
        <result column="collet_user_id" property="colletUserId" />
        <result column="collet_question_id" property="colletQuestionId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
       collet_id AS colletId, collet_user_id AS colletUserId, collet_question_id AS colletQuestionId
    </sql>

    <!--根据问题id查询收藏-->
    <select id="getByQuestionId" resultType="com.youedata.nncloud.modular.nanning.model.Collet" parameterType="Integer">
        select
        <include refid="Base_Column_List" />
        from collet where collet_question_id = #{questionId}
    </select>

    <!--根据问题id删除收藏-->
    <delete id="deleteByQuestionId" parameterType="Integer">
        delete from collet where collet_question_id = #{questionId}
    </delete>
</mapper>
