<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youedata.nncloud.modular.nanning.dao.DeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.youedata.nncloud.modular.nanning.model.Dept">
        <id column="dept_id" property="deptId" />
        <result column="dept_name" property="deptName" />
        <result column="dept_type" property="deptType" />
        <result column="dept_status" property="deptStatus" />
        <result column="dept_create_by" property="deptCreateBy" />
        <result column="dept_update_by" property="deptUpdateBy" />
        <result column="dept_update_time" property="deptUpdateTime" />
        <result column="dept_create_time" property="deptCreateTime" />
    </resultMap>

</mapper>
