<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youedata.nncloud.modular.nanning.dao.MessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.youedata.nncloud.modular.nanning.model.Message">
        <id column="message_id" property="messageId" />
        <result column="message_question_id" property="messageQuestionId" />
        <result column="message_user_id" property="messageUserId" />
        <result column="message_content" property="messageContent" />
        <result column="message_create_time" property="messageCreateTime" />
    </resultMap>

    <select id="selectMessages" parameterType="map" resultType="map">
        select
        message_id,
        message_question_id,
        message_user_id,
        message_create_time,
        <if test="messageUserId == 0">
          replace(message_content, '您的', '用户的') message_content
        </if>
        <if test="messageUserId != null and messageUserId != 0 and messageUserId != ''">
         message_content
        </if>
        from message
        where 1 = 1
        <if test="messageUserId != null and messageUserId != 0 and messageUserId != ''">
            and message_user_id = #{messageUserId}
        </if>

    </select>

</mapper>
