<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youedata.nncloud.modular.nanning.dao.OfficeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.youedata.nncloud.modular.nanning.model.Office">
        <id column="office_id" property="officeId" />
        <result column="office_name" property="officeName" />
        <result column="office_status" property="officeStatus" />
        <result column="office_create_by" property="officeCreateBy" />
        <result column="office_update_by" property="officeUpdateBy" />
        <result column="office_update_time" property="officeUpdateTime" />
        <result column="office_create_time" property="officeCreateTime" />
    </resultMap>
    <select id="selectOfficeByName" resultType="Integer">
        select office_id from office where office_name = #{officeName}
    </select>
</mapper>
