<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youedata.nncloud.modular.nanning.dao.UpgradeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.youedata.nncloud.modular.nanning.model.Upgrade">
        <id column="upgrade_id" property="upgradeId"/>
        <result column="upgrade_userinfo_id" property="upgradeUserinfoId"/>
        <result column="upgrade_leader_id" property="upgradeLeaderId"/>
        <result column="upgrade_status" property="upgradeStatus"/>
        <result column="upgrade_create_time" property="upgradeCreateTime"/>
        <result column="upgrade_update_time" property="upgradeUpdateTime"/>
    </resultMap>

    <!--审核升级列表-->
    <select id="orderList" resultType="map">
        select userInfo_id,userInfo_nickname,userInfo_tel,userInfo_lv,userInfo_wx,upgrade_id
        from `upgrade` up LEFT JOIN userInfo us on up.upgrade_leader_id = us.userInfo_id
        WHERE up.upgrade_leader_id = #{userInfoId}
        AND up.upgrade_status = 0
    </select>

    <!--修改订单状态-->
    <update id="auditEscalation">
        UPDATE `upgrade` SET upgrade_status = #{upgradeStatus}
        WHERE upgrade_id = #{upgradeId}
        AND upgrade_leader_id = #{userinfoId}
    </update>

    <!--历史通过订单-->
    <select id="orderList" resultType="map">
        select userInfo_id,userInfo_nickname,userInfo_tel,userInfo_lv,userInfo_wx,upgrade_id
        from `upgrade` up LEFT JOIN userInfo us on up.upgrade_leader_id = us.userInfo_id
        WHERE up.upgrade_leader_id = #{userInfoId}
        AND up.upgrade_status = 2
    </select>
</mapper>
