@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="userOrgId">

            <div class="row">
                <div class="col-sm-12">
                    <#input id="userOrgName" name="名字"/>

                    <#input id="userOrgPname" name="上级机构" readonly="readonly" hidden="userOrgOrganizationId"
                            clickFun="UserOrgInfoDlg.showDeptSelectTree(); return false;"
                            style="background-color: #ffffff !important;"/>
                    <#input id="userOrgWork" name="职务" />
                    <#input id="userOrgTel" name="联系电话" underline="true"/>
                </div>
                <input id="userOrgOrganizationName" hidden/>
                <!-- 父级部门的选择框 -->
                <div id="parentUserOrgMenu" class="menuContent"
                     style="display: none; position: absolute; z-index: 200;">
                    <ul id="parentUserOrgMenuTree" class="ztree tree-box" style="width: 280px !important;"></ul>
                </div>
            </div>
            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="UserOrgInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="UserOrgInfoDlg.close()"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/fx/userOrg/userOrg_info.js"></script>
@}