@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>网格员上报信息</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">

                            <div class="col-sm-3">
                                <#SelectCon id="reportType" name="数据类型">
                                    <!--<option value="">全部</option>-->
                                    <option value="巡防记录">巡防记录</option>
                                    <option value="上报事件">上报事件</option>
                                </#SelectCon>
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="content" name="事件内容" />
                            </div>
                            <div class="col-sm-5">
                                <#TimeToTime bId="beginTime" eId="endTime" name="起止时间" isTime="false" pattern="YYYY-MM-DD" />
                            </div>
                            <div class="col-sm-1">
                                <#button name="查询" icon="fa-search" clickFun="ReportInfo.search()"/>
                            </div>
                        </div>
                        <#table id="ReportInfoTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/fx/areaPeoAnaly/areapeoanaly.js"></script>
@}
