@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>网格员管理</h5>
            </div>
            <input type="hidden" id="personId">
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#SelectCon id="street" name="行政区域">
                                    <option value="">全部</option>
                                </#SelectCon>
                            </div>
                            <div class="col-sm-3">
                                <#SelectCon id="gridmanGrid" name="网格分类">
                                   <option value="">全部</option>
                                </#SelectCon>
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="gridmanName" name="人员姓名" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="查询" icon="fa-search" clickFun="Gridman.search()"/>
                            </div>
                        </div>
                        <div class="" id="GridmanTableToolbar" role="group">
                                <#button name="新增人员" icon="fa-plus" clickFun="Gridman.openAddGridman()"/>
                               <!-- <#button name="导入" icon="" clickFun="Gridman.openGridmanDetail()" space="true"/>
                                <#button name="导出" icon="" clickFun="Gridman.delete()" space="true"/>-->
                        </div>
                        <#table id="GridmanTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/fx/gridman/gridman.js"></script>
@}
