@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal keyAreaDetail">

            <input type="hidden" id="keyAreaId" value="${item.keyAreaId}">

            <div class="row">
                <div class="col-sm-12">
                    <div class="title">${item.keyAreaName}</div>
                    <div class="info">
                       <ul>
                           <li>所属乡镇：${item.keyAreaTownship}</li>
                           <li>创建时间：${item.keyAreaCreateTime}</li>
                           <li>编辑时间：${item.keyAreaUpdateTime}</li>
                           <li>编辑人：${item.keyAreaUpdateby}</li>
                       </ul>
                    </div>
                    <div class="keyAreaImg">
                        <div>
                            <#avatar3 id="keyAreaImgUrl" name="" avatarImg="${item.keyAreaImg}" />
                           <!--<img src="${item.keyAreaImg}">-->
                        </div>

                    </div>
                    <div class="keyAreaDesc">
                        <p>重点区域介绍</p>
                        <div class="content">
                            ${item.keyAreaDesc}
                        </div>
                    </div>
                </div>

            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10" style="text-align: center;">
                    <!--<#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="SocialInfoDlg.editSubmit()"/>-->
                    <#button btnCss="danger" name="返回" id="cancel" icon="fa-eraser" clickFun="KeyAreaInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/fx/keyArea/keyArea_info.js"></script>
@}
