@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>帮教记录管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="UserHereticsRecord.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="UserHereticsRecordTableToolbar" role="group">
                            @if(shiro.hasPermission("/userHereticsRecord/add")){
                                <#button name="添加" icon="fa-plus" clickFun="UserHereticsRecord.openAddUserHereticsRecord()"/>
                            @}
                            @if(shiro.hasPermission("/userHereticsRecord/update")){
                                <#button name="修改" icon="fa-plus" clickFun="UserHereticsRecord.openUserHereticsRecordDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/userHereticsRecord/delete")){
                                <#button name="删除" icon="fa-plus" clickFun="UserHereticsRecord.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="UserHereticsRecordTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/fx/userHereticsRecord/userHereticsRecord.js"></script>
@}
