@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>出行轨迹分析</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="col-sm-12">
                            <div class="sub-title sub-title-bg clearfix ">
                                <div class="sub-title-line"></div>
                                <div class="sub-title-name">出行轨迹线性分布</div>
                            </div>
                            <div class="row f-travel">
                                <div class="col-sm-8">
                                    <div id="travelPath" style="height:620px;">

                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <p>最新出行动态</p>
                                    <ul id="latestTrends" style="padding-left: 0"></ul>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="row" >
                        <div class="col-sm-12" style="margin-top: 20px;">
                            <div class="col-sm-6 f-userDataYear">
                                <div class="sub-title sub-title-bg clearfix ">
                                    <div class="sub-title-line"></div>
                                    <div class="sub-title-name">热门地点排名TOP10</div>
                                    <div id="monitorSearch" style="width:30%">
                                        <#DivTimeCon id="year"  name="mostVisitedTop" chartType="bar" url="/carTravel/mostVisitedTop" type="year" clickFun="Travelpath.selectTime($('#year'))" />
                                        <select id="month" name="dataTrend" onchange="Travelpath.selectTime($('#year'))">
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04" selected>04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                    </div>
                                </div>
                                <div id="mostVisitedTop" style="height:360px;">

                                </div>
                            </div>
                            <div class="col-sm-6 f-userDataYear">
                                <div class="sub-title sub-title-bg clearfix ">
                                    <div class="sub-title-line"></div>
                                    <div class="sub-title-name">出行行为趋势</div>
                                    <div id="monitorSearch1" style="width:30%">
                                        <#DivTimeCon id="year1"  name="travelTrending" chartType="barWithLine" url="/carTravel/travelTrending" type="year" clickFun="Travelpath.selectTime1($('#year1'))" />
                                        <select id="month1" name="travelTrending" onchange="Travelpath.selectTime1($('#year1'))">
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04" selected>04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                    </div>
                                </div>
                                <div id="travelTrending" style="height:360px;">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="${ctxPath}/static/modular/fx/carTravel/travelpath.js"></script>
<script src="${ctxPath}/static/modular/fx/userLife/china.js"></script>
@}